.vertical-center {
	min-height: 90%;
	min-height: 90vh;

	display: flex;
	align-items: center;
}

.active {
	text-decoration: underline;
}

.container {
	min-height: 87%;
	min-height: 87vh;
}

.modal-body p {
	word-wrap: break-word;
}

#apiKeyDiv {
	display: none;
}

/* textarea {
	min-height: 50px;
	max-height: none;
} */

#returnedJson {
	min-height: 50px;
	max-height: 650px;
}

#spinner {
	display: none;
	margin: 0 auto;
}

.ui-autocomplete > li {
	color: grey;
	border-bottom: 1px solid lightgrey;
}

.ui-autocomplete {
	border-radius: 0 0 5px 5px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

#byYearTitle {
	display: none;
}
#trendsTitle {
	display: none;
}
#tableTitle {
	display: none;
}

.profileBtn {
	margin-left: 15px;
}

#accountSettings {
	margin-top: 20px;
}
