{% extends "base.html" %}


{% block title %}
<title>WHO Mortality Database | Codes</title>
{% endblock %}

{% block main %}
<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <form class="form" name="codeForm">
                    <div class="h3">Find WHO Codes for Queries (or general interest)</div>
                    <div class="radio mr-2">
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="country">Country</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="sex">Sex</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="admin">Admin</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="subdiv">Subdiv</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="age-format">Age
                            Format</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="infant-age-format">Infant Age Format</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="icd">ICD Codes</label>
                        <label class="radio-inline mr-2"><input type="radio" name="codeDataChoiceRadio" class="mr-1"
                                data-table="icd-code-list">ICD Code Lists</label>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label for="codeSearchInput">
                                    <input class="form-control form-control-lg" type="text" name="codeSearchInput"
                                        id="codeSearchInput" placeholder="Code">
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary mb-3" type="submit" id="codeSearchSubmit">Search
                                Code</button>
                        </div>
                        <div class="col-6">
                            <div>
                                <label for="codeSearchInput">
                                    <input class="form-control form-control-lg" type="text" name="codeSearchInput"
                                        id="descSearchInput" placeholder="Description">
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary mb-3" type="submit" id="descSearchSubmit">Search
                                Description</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- show spinner while performing ajax call -->

                <div class="spinner-border text-primary" role="status" id="spinner"><span class="sr-only">
                        Loading...</span></div>

                <div id="searchOutput">
                    <!-- JSON text area goes here -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    const api_key = $('#apiKeyDiv').html()
    const codeSearchBtn = $('#codeSearchSubmit')
    const descSearchBtn = $('#descSearchSubmit')
    const ageFormatRadios = ["age-format", "infant-age-format"]


    $(window).click(function () {
        if (ageFormatRadios.includes($('input[name="codeDataChoiceRadio"]:checked').data('table'))) {
            $('#descSearchInput').attr("disabled", "disabled");
            $(descSearchBtn).attr("disabled", "disabled");
        }
        else {
            $('#descSearchInput').removeAttr("disabled");
            $(descSearchBtn).removeAttr("disabled");
        }
    })

    // loader image
    $(document).ajaxStart(function () {
        // Show spinner
        $('#spinner').show()
        $('#searchOutput').html('')
    });
    $(document).ajaxComplete(function () {
        // Hide spinner
        $("#spinner").hide();
    });


    $(codeSearchBtn).click(function () {
        event.preventDefault();

        var searchTable = $('input[name="codeDataChoiceRadio"]:checked').data('table');
        var searchTerm = $('#codeSearchInput').val()

        var api_url = "/api/" + searchTable + "-code/" + searchTerm

        $.ajax({
            url: api_url,
            dataType: "json",
            headers: { "api_key": api_key },
            success: function (result) {
                result = JSON.stringify(result, null, "\t")
                output = '<textarea readonly class="form-control alert alert-success block" role="alert" id="returnedJson">' + result + '</textarea>'
                $('#searchOutput').html(output)
                auto_grow($('#returnedJson'))
            },
            error: function () {
                let output = '<div class="alert alert-danger" role="alert">No results match your search term.</div>'
                $('#searchOutput').html(output)
            }
        });
    });

    $(descSearchBtn).click(function () {
        event.preventDefault();

        var searchTable = $('input[name="codeDataChoiceRadio"]:checked').data('table');
        var searchTerm = $('#descSearchInput').val()

        var api_url = "/api/" + searchTable + "-desc/" + searchTerm

        $.ajax({
            url: api_url,
            dataType: "json",
            headers: { "api_key": api_key },
            success: function (result) {
                result = JSON.stringify(result, null, "\t")
                output = '<textarea readonly class="form-control alert alert-success block" role="alert" id="returnedJson">' + result + '</textarea>'

                $('#searchOutput').html(output)
                auto_grow($('#returnedJson'))
            },
            error: function () {
                let output = '<div class="alert alert-danger" role="alert">No results match your search term.</div>'
                $('#searchOutput').html(output)
            }
        });
    });


</script>
{% endblock %}