<!-- list of all endpoints available to API -->
<!-- can see this page whether logged in or not -->

{% extends "base.html" %}

{% block title %}
<title>WHO Mortality Database | Docs</title>
{% endblock %}

{% block main %}
<main>
    <div class="container mt-3">
        <div class="content" id="content">
            <h2 class="mb-3">Find out about all our API paths</h2>
            <div id="error"></div>

        </div>
    </div>
</main>




{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "api/paths",
            dataType: "json",
            success: function (result) {
                result_string = JSON.stringify(result, null, "\t")

                // make key array from object keys
                var keys = Object.keys(result);

                // loop over keys creating elements in DOM for each one
                for (var i = 0; i < keys.length; i++) {
                    // console.log(result[keys[i]]);

                    var path = keys[i];
                    var pathObject = result[keys[i]]
                    var element_id = path.replace(/{.*?}/g, "")

                    // fix this to remove only / and "/api/" at start of string
                    element_id = element_id.replace(/[./api?]/g, "")

                    if (pathObject.hasOwnProperty('get')) {
                        createDocEntry('get', 'success', pathObject);
                    }
                    if (pathObject.hasOwnProperty('post')) {
                        createDocEntry('post', 'warning', pathObject);
                    }
                    if (pathObject.hasOwnProperty('put')) {
                        createDocEntry('put', 'primary', pathObject);
                    }
                    if (pathObject.hasOwnProperty('delete')) {
                        createDocEntry('delete', 'danger', pathObject);
                    }
                }

                function createDocEntry(verb, colour, object) {
                    var description = object[verb]['description'];

                    var argumentHtml = "";
                    if (object[verb].hasOwnProperty('arguments')) {

                        var arguments = object[verb]['arguments'];

                        var argumentKeys = Object.keys(arguments);

                        argumentHtml += "<p>Arguments:<ul>";
                        for (var j = 0; j < argumentKeys.length; j++) {

                            argumentHtml += '<li class="list-group-item">' + argumentKeys[j] + ' = ' + capFirstLetter(arguments[argumentKeys[j]]) + '</li>';

                        }

                        argumentHtml += "</ul></p>";
                    }

                    var securityHtml = "";
                    if (object[verb].hasOwnProperty('security')) {

                        var security = object[verb]['security'];

                        var securityKeys = Object.keys(security);

                        securityHtml += "<p>Security:<ul>";
                        for (var k = 0; k < securityKeys.length; k++) {

                            securityHtml += '<li class="list-group-item">' + capFirstLetter(securityKeys[k]) + ': ' + security[securityKeys[k]] + '</li>';

                        }

                        securityHtml += "</ul></p>";

                        var security = object[verb]['security'];


                    }

                    // TODO: write recursive function to strip out all the "schema" stuff
                    var responsesHtml = ""
                    if (object[verb].hasOwnProperty('responses')) {
                        var responses = object[verb]['responses']

                        responseKeys = Object.keys(responses)

                        responsesHtml += '<p>Responses:';

                        for (var a = 0; a < responseKeys.length; a++) {
                            var greenResponses = ["200", "201", "202"]
                            responsesHtml += "<p>" + responseKeys[a] + "</p>"
                            if (greenResponses.indexOf(responseKeys[a]) > -1) {

                                responsesHtml += '<textarea readonly class="form-control response greenResponse alert alert-success" >' + JSON.stringify(responses[responseKeys[a]], null, "\t") + '</textarea>';

                            } else {
                                responsesHtml += '<textarea readonly class="response redResponse alert alert-danger" style="display:block;width:100%">' + JSON.stringify(responses[responseKeys[a]], null, "\t") + '</textarea>';
                            }

                        }

                        responsesHtml += "</p>"
                    }

                    var new_path_dropdown_area = document.createElement('div');
                    new_path_dropdown_area.classList.add("apiPath");
                    new_path_dropdown_area.classList.add("position-relative");

                    new_path_dropdown_area.innerHTML = `
                    <p>
                                    <a class="btn btn-`+ colour + ` rounded-0 stretched-link" data-toggle="collapse"
                                        href="#`+ element_id + `" role="button" aria-expanded="true">
                                        GET </a><span
                                            class="btn border border-`+ colour + ` rounded-0">` + path + `</span>
                                    <span class="lead align-middle"> - `+ description + `</span>
                                </p>
                                <div class="collapse" id="`+ element_id + `">
                                    <div class="card card-body">
                                        `+ securityHtml + `
                                        `+ argumentHtml + `
                                        `+ responsesHtml + `
                            </p>
                        </div>
                    </div>`

                    // add to end of page
                    $('#content').append(new_path_dropdown_area);

                    // end create doc entry
                }

                // use query selector all to resize all response blocks to correct size
                // count substrings
                function countSubstring(string, substring) {
                    var re = new RegExp(substring, 'gi');
                    return string.match(re).length;
                }

                var allResponseTextareas = document.querySelectorAll('.response');

                for (var x = 0; x < allResponseTextareas.length; x++) {
                    var nextLineCount = countSubstring(allResponseTextareas[x].innerText, "\n");
                    nextLineCount++
                    allResponseTextareas[x].rows = nextLineCount;
                }

            },
            error: function () {
                let output = '<div class="alert alert-danger" role="alert">Error retrieving endpoint data.</div>';
                $('#error').html(output);
            }
        });
    })
</script>
{% endblock %}