<!-- users get data from custom queries returned in JSON Format -->

{% extends "base.html" %}

{% block title %}
<title>WHO Mortality Database | JSON</title>
{% endblock %}

{% block main %}
<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <form class="form">
                    <div class="h3">Get WHO Mortality and Population Data as JSON</div>
                    <!-- use radio format on bootstrap to remake this part https://getbootstrap.com/docs/4.0/components/forms/ -->
                    <div class="radio mr-2">
                        <label class="radio-inline mr-2"><input type="radio" data-table="population"
                                name="jsonDataChoiceRadio" class="mr-1">Population</label>
                        <label class="radio-inline mr-2"><input type="radio" data-table="mortality"
                                name="jsonDataChoiceRadio" class="mr-1" checked>Mortality</label>
                        <label class="radio-inline mr-2"><input type="radio" data-table="mortality-adj"
                                name="jsonDataChoiceRadio" class="mr-1">Population
                            Adjusted
                            Mortality</label>
                    </div>

                    <div class="inputs">
                        <div class="form-row">
                            <!-- input for country, age, sex, admin, subdiv, cause. -->

                            <div class="col-sm-4 form-group" id="countryGroup">
                                <label for="jsonCountry" class="col-sm-2 col-form-label">Country</label>
                                <input class="form-control country autocomplete" type="text" placeholder="Country"
                                    data-table="country" id="country">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="countryGroup"><i data-feather="plus-square"
                                        data-group="countryGroup" class="addSvg"></i></button>
                            </div>
                            <div class="col-sm-4 form-group" id="adminGroup">
                                <label for="jsonAdmin" class="col-sm-2 col-form-label">Admin</label>
                                <input class="form-control admin autocomplete" type="text" placeholder="Admin"
                                    data-table="admin" id="admin">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="adminGroup"><i data-feather="plus-square"
                                        data-group="adminGroup" class="addSvg"></i></button>
                            </div>
                            <div class="col-sm-4 form-group" id="subdivGroup">
                                <label for="jsonSubdiv" class="col-sm-2 col-form-label">Subdiv</label>
                                <input class="form-control subdiv autocomplete" type="text" placeholder="Subdiv"
                                    data-table="subdiv" id="subdiv">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="subdivGroup"><i data-feather="plus-square"
                                        data-group="subdivGroup" class="addSvg"></i></button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-2 form-group" id="yearGroup">
                                <label for="jsonYear" class="col-sm-2 col-form-label">Year</label>
                                <input class="form-control year" type="text" placeholder="Year">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="yearGroup"><i data-feather="plus-square"
                                        data-group="yearGroup" class="addSvg"></i></button>
                            </div>

                            <div class="col-sm-2 form-group" id="sexGroup">
                                <label for="jsonSex" class="col-sm-2 col-form-label">Sex</label>
                                <div class="form-check">
                                    <input class="form-check-input sex" type="checkbox" value="1" id="maleCheck">
                                    <label class="form-check-label" for="maleCheck">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sex" type="checkbox" value="2" id="femaleCheck">
                                    <label class="form-check-label" for="femaleCheck">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sex" type="checkbox" value="9" id="unspecifiedCheck">
                                    <label class="form-check-label" for="unspecifiedCheck">
                                        Unspecified
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-8 form-group" id="causeGroup">
                                <label for="jsonCause" class="col-sm-2 col-form-label form-autocomplete">Cause</label>
                                <input class="form-control cause autocomplete" data-table="icd10" type="text"
                                    placeholder="Cause" id="cause">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="causeGroup"><i data-feather="plus-square"
                                        data-group="causeGroup" class="addSvg"></i></button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary mb-3" type="submit" id="jsonSearchSubmit">Get JSON</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- show spinner while performing ajax call -->

                <div class="spinner-border text-primary" role="status" id="spinner"><span class="sr-only">
                        Loading...</span></div>

                <div id="searchOutput">
                    <!-- JSON text area goes here -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    const api_key = $('#apiKeyDiv').html()
    const jsonSearchBtn = $('#jsonSearchSubmit')
    const populationRadio = ["population"]



    $(document).ready(function () {
        // add autocomplete to all text inputs that require it
        $('input.autocomplete').each(function (i, element) {
            addAutocomplete(element);
        });

        // add icons from feather and make all parts clickable
        feather.replace();
        var svgComponents = $(".addSvg").children();

        // add data-group to rect and line inside plus buttons
        for (var i = 0; i < svgComponents.length; i++) {
            if (svgComponents.hasOwnProperty(i)) {
                var prevObjIndex = Math.floor(i / 3);
                var group = svgComponents.prevObject[prevObjIndex].getAttribute("data-group")
                svgComponents[i].setAttribute("data-group", group)
            }
        }
    });


    // add fields buttons
    $('.addField').click((event) => {
        event.preventDefault()
        click_target = event.target
        var new_input = document.createElement('input');

        // create new text input
        new_input.type = "text";
        new_input.classList.add("form-control")

        // dynamically add group
        var group = event.target.dataset.group.replace('Group', '')
        new_input.placeholder = capFirstLetter(group)
        new_input.classList.add(group)

        // add autocomplete 
        new_input.classList.add('autocomplete')
        addAutocomplete(new_input)

        // insert into column of inputs
        var closestDiv = click_target.closest('div')
        var lastChild = closestDiv.children[closestDiv.children.length - 1]

        // dynamically add data-table from first input in group
        var nearestInput = closestDiv.children[1]
        new_input.dataset.table = nearestInput.dataset.table

        closestDiv.insertBefore(new_input, lastChild)
        new_input.focus();
    })

    // check if age formats selected to disable description search as age formats don't have descriptions
    $(window).click(function () {
        if (populationRadio.includes($('input[name="jsonDataChoiceRadio"]:checked').data('table'))) {
            $('.cause').attr("disabled", "disabled");
        }
        else {
            $('.cause').removeAttr("disabled");
        }
    })

    // loader image
    $(document).ajaxComplete(function () {
        // Hide spinner
        $("#spinner").hide();
    });



    // query database with user search terms, return data to textarea
    $(jsonSearchBtn).click(function () {
        // prevent sending of form
        event.preventDefault();

        // get_json_data()

        // check which endpoint to send requests to
        var searchTable = $('input[name="jsonDataChoiceRadio"]:checked').data('table');

        // variables required for dynamic generation of search url
        var formVariables = ["country", "admin", "subdiv", "year", "sex", "cause"];
        var formInputLists = { "country": [], "admin": [], "subdiv": [], "year": [], "sex": [], "cause": [] };
        var formInputs = [document.querySelectorAll('.country'), document.querySelectorAll('.admin'), document.querySelectorAll('.subdiv'), document.querySelectorAll('.year'), document.querySelectorAll(".sex:checked"), document.querySelectorAll('.cause')]

        // remove cause from url generator if population table selected
        if (searchTable == "population") {
            formVariables.pop();
            delete formInputLists['cause'];
            formInputs.pop();
        }

        // make arrays of valid user inputs
        for (var i = 0; i < formInputs.length; i++) {
            for (var j = 0; j < formInputs[i].length; j++) {
                var group = formVariables[i]
                var inputValue = formInputs[i][j].value
                var error = false;
                switch (group) {
                    case "country":
                        // validate inputs
                        if (validCountry(inputValue)) {
                            // push valid ones to arrays for generating get url
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#searchOutput').html(output);
                            return
                        }
                        break;
                    case "admin":
                        if (validAdmin(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#searchOutput').html(output);
                            return
                        }
                        break;
                    case "subdiv":
                        if (validSubdiv(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#searchOutput').html(output);
                            return
                        }
                        break;
                    case "year":
                        if (validYear(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#searchOutput').html(output);
                            return
                        }
                        break;
                    case "cause":
                        if (validCause(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#searchOutput').html(output);
                            return
                        }
                        break;
                    case "sex":
                        formInputLists[group].push(inputValue)
                        break;
                }
            }
        }
        if (formInputLists['sex'].length == 0) {
            error = true;
            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
            $('#searchOutput').html(output);
            return
        }

        // iterate over formInputLists dictionary and join each one into a string for get variables.
        // remove trailing and leading commas to reduce search space
        var urlGetVariables = "";

        for (var key in formInputLists) {
            formInputLists[key] = formInputLists[key].join().replace(/(^[,\s]+)|([,\s]+$)/g, '');
            urlGetVariables += key + "=" + formInputLists[key] + "&";
        }

        // generate url depending on endpoint choice, search term and endpoint type
        var api_url = "/api/" + searchTable + "-search-multiple?" + urlGetVariables;
        if (!error) {
            // loader image
            $('#spinner').show();
            $('#searchOutput').html('');
            $.ajax({
                url: api_url,
                dataType: "json",
                headers: { "api_key": api_key },
                success: function (result) {
                    result = JSON.stringify(result, null, "\t")
                    // use textarea so json in properly formatted for users
                    output = '<textarea readonly class="form-control alert alert-success block" role="alert" id="returnedJson">' + result + '</textarea>';
                    $('#searchOutput').html(output);
                    // resize the textarea
                    auto_grow($('#returnedJson'));
                },
                error: function () {
                    let output = '<div class="alert alert-danger" role="alert">No results match your search term.</div>';
                    $('#searchOutput').html(output);
                }
            });
        }
    });



</script>
{% endblock %}