<!-- user can change password here, see previous charts, see rate limits, ask for higher rates -->
<!-- can only see this page if logged in -->

{% extends "base.html" %}

{% block title %}
<title>WHO Mortality Database | Profile</title>
{% endblock %}

{% block main %}
<main>
    <div class="container mt-3">

        <div class="row">
            <div class="col-sm">
                <div class="h1">Welcome, username</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <!-- Area for query history -->
            </div>
            <!-- Button trigger apikey modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ApiKeyModal">
                API key
            </button>

            <!-- Modal -->
            <div class="modal fade" id="ApiKeyModal" tabindex="-1" role="dialog" aria-labelledby="ApiKeyModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ApiKeyModalTitle">Your API Key</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            "v9j0ve9j3j9vj93j9fj9pwdnksanuobhw0jwepi3"
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Get New Key</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}