<!-- user can change password here, see previous charts, see rate limits, ask for higher rates -->
<!-- can only see this page if logged in -->

{% extends "base.html" %}

{% block title %}
<title>WHO Mortality Database | Profile</title>
{% endblock %}

{% block main %}
<main>
    <div class="container mt-3">

        <div class="row">
            <div class="col-sm">
                <div class="h1">Welcome, {{ current_user.username }}</div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12">
                <p>Working with custom scripts?</p>
                <!-- Button trigger apikey modal -->
                <button type="button" class="btn btn-primary profileBtn" data-toggle="modal" data-target="#ApiKeyModal"
                    id="apiKeyBtn">
                    API key
                </button>

            </div>
        </div>

        <div class="row" id="accountSettings">
            <div class="col-12">
                <p>Account Settings:</p>
                <!-- Button trigger change password modal -->
                <p>
                    <button type="button" class="btn btn-primary profileBtn" data-toggle="modal"
                        data-target="#changePassModal" id="openChangePassBtn">
                        Change Password
                    </button>
                </p>
            </div>
        </div>

        <!-- Modals -->
        <!-- API key Modal -->
        <div class="modal fade" id="ApiKeyModal" tabindex="-1" role="dialog" aria-labelledby="ApiKeyModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ApiKeyModalTitle">Your API Key</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="apiKeyMessage" class="messages">
                            <!-- messages go here -->
                        </p>
                        <p id="apiKey">
                            {{ current_user.api_key }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="newApiKeyBtn">Get New Key</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePassModalTitle">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <p id="changePassMessage" class="messages">
                                <!-- messages go here -->
                            </p>
                            <form class="form align-middle" id="changePassForm" method="POST" action="/changePass"
                                novalidate>
                                <label for="oldPassword">Old Password:</label>
                                <input type="password" id="oldPassword" name="oldPassword" class="form-control mb-2"
                                    placeholder="Old password" required>
                                <label for="oldPassword2">Confirm Old Password:</label>
                                <input type="password" id="oldPassword2" name="oldPassword2" class="form-control mb-2"
                                    placeholder="Confirm old password" required>
                                <label for="password">New Password:</label>
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="New password" required>
                            </form>
                            <button class="btn btn-lg btn-primary btn-block mt-3 mb-3" id="changePassBtn">Change
                                Password</button>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="closePassChangeBtn">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}


{% block script %}
<script>
    var api_key = $('#apiKeyDiv').html()
    const username = $('#username').html()
    const newApiKeyBtn = $('#newApiKeyBtn')
    const changePassBtn = $('#changePassBtn')

    $(newApiKeyBtn).click(function () {
        // make ajax call to generate new key. pass username and current api key as json object
        $.ajax({
            url: "/newApiKey",
            type: 'PUT',
            dataType: "json",
            headers: { "api_key": api_key, "username": username },
            success: function (result) {
                var new_api_key = result['new_api_key']
                $('#apiKey').html(new_api_key);
                $('#apiKeyDiv').html(new_api_key);
                api_key = $('#apiKeyDiv').html()
            },
            error: function (xhr, status, error) {
                let message = '<div class="alert alert-danger" role="alert">' + xhr.responseJSON.message + '</div>';
                $('#apiKeyMessage').html(message);
            }
        });
    })

    $(changePassBtn).click(function (event) {
        var oldPassword = document.getElementById('oldPassword').value
        var oldPassword2 = document.getElementById('oldPassword2').value
        var password = document.getElementById('password').value
        var error = false;

        // check user has put values in all boxes
        if (oldPassword == "" || oldPassword2 == "") {
            $('#changePassMessage').html('<div class="alert alert-danger" role="alert">Please confirm you old password.</div>');
            error = true;
            return
        }
        if (password == "") {
            $('#changePassMessage').html('<div class="alert alert-danger" role="alert">Please enter a new password.</div>');
            error = true;
            return
        }


        // check oldPassword and oldPassword2 match 
        if (oldPassword != oldPassword2) {
            $('#changePassMessage').html('<div class="alert alert-danger" role="alert">Passwords don\'t match.</div>');
            error = true;
            clearPassInputs();
            return
        }

        // add passwords to header
        if (!error) {
            $.ajax({
                url: "/changePass",
                type: 'PUT',
                dataType: "json",
                headers: { "username": username, "oldPassword": oldPassword, "oldPassword2": oldPassword2, "password": password },
                success: function (result) {
                    let message = '<div class="alert alert-success" role="alert">Password successfully changed.</div>';
                    $('#changePassMessage').html(message);
                },
                error: function (xhr, status, error) {
                    let message = '<div class="alert alert-danger" role="alert">' + xhr.responseJSON.message + '</div>';
                    $('#changePassMessage').html(message);
                },
                complete: function (data) {
                    clearPassInputs();
                }
            });
        }
    })

    // clear password inputs
    function clearPassInputs() {
        $('#oldPassword').val("");
        $('#oldPassword2').val("");
        $('#password').val("");
    }

    // hide messages when modals are closed
    $(".modal").on("hidden.bs.modal", function () {
        $(".messages").html("");
    });
</script>
{% endblock %}