<!-- after user logged in they see this page. it's where they can make requests to the api and get data returned in charts -->
<!-- can only see this page if logged in -->

{% extends "base.html" %}

{% block title %}
<title>WHO Mortality Database | Visualize</title>
{% endblock %}

{% block main %}
<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <form class="form">
                    <div class="h3">Visualize WHO Mortality Data with Charts</div>
                    <!-- use radio format on bootstrap to remake this part https://getbootstrap.com/docs/4.0/components/forms/ -->
                    <div class="radio mr-2">
                        <label class="radio-inline mr-2"><input type="radio" data-table="mortality"
                                name="dataChoiceRadio" class="mr-1" checked>Mortality</label>
                        <label class="radio-inline mr-2"><input type="radio" data-table="mortality-adj"
                                name="dataChoiceRadio" class="mr-1">Population
                            Adjusted
                            Mortality</label>
                    </div>

                    <div class="inputs">
                        <div class="form-row">
                            <!-- input for country, age, sex, admin, subdiv, cause. -->
                            <div class="col-sm-4 form-group" id="countryGroup">
                                <label for="jsonCountry" class="col-sm-2 col-form-label">Country</label>
                                <input class="form-control country autocomplete" type="text" placeholder="Country"
                                    data-table="country" id="country">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="countryGroup"><i data-feather="plus-square"
                                        data-group="countryGroup" class="addSvg"></i></button>
                            </div>
                            <div class="col-sm-4 form-group" id="adminGroup">
                                <label for="jsonAdmin" class="col-sm-2 col-form-label">Admin</label>
                                <input class="form-control admin autocomplete" type="text" placeholder="Admin"
                                    data-table="admin" id="admin">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="adminGroup"><i data-feather="plus-square"
                                        data-group="adminGroup" class="addSvg"></i></button>
                            </div>
                            <div class="col-sm-4 form-group" id="subdivGroup">
                                <label for="jsonSubdiv" class="col-sm-2 col-form-label">Subdiv</label>
                                <input class="form-control subdiv autocomplete" type="text" placeholder="Subdiv"
                                    data-table="subdiv" id="subdiv">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="subdivGroup"><i data-feather="plus-square"
                                        data-group="subdivGroup" class="addSvg"></i></button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-2 form-group" id="yearGroup">
                                <label for="jsonYear" class="col-sm-2 col-form-label">Year</label>
                                <input class="form-control year" type="text" placeholder="Year">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="yearGroup"><i data-feather="plus-square"
                                        data-group="yearGroup" class="addSvg"></i></button>
                            </div>

                            <div class="col-sm-2 form-group" id="sexGroup">
                                <label for="jsonSex" class="col-sm-2 col-form-label">Sex</label>
                                <div class="form-check">
                                    <input class="form-check-input sex" type="checkbox" value="1" id="maleCheck">
                                    <label class="form-check-label" for="maleCheck">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sex" type="checkbox" value="2" id="femaleCheck">
                                    <label class="form-check-label" for="femaleCheck">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sex" type="checkbox" value="9" id="unspecifiedCheck">
                                    <label class="form-check-label" for="unspecifiedCheck">
                                        Unspecified
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-8 form-group" id="causeGroup">
                                <label for="jsonCause" class="col-sm-2 col-form-label form-autocomplete">Cause</label>
                                <input class="form-control cause autocomplete" data-table="icd10" type="text"
                                    placeholder="Cause" id="cause">
                                <button class="btn btn-sm btn-light pd-a mt-1 addField" tabindex="500"
                                    aria-hidden="true" data-group="causeGroup"><i data-feather="plus-square"
                                        data-group="causeGroup" class="addSvg"></i></button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary mb-3" type="submit" id="searchSubmit">Visualize</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- show spinner while performing ajax call -->

                <div class="spinner-border text-primary" role="status" id="spinner"><span class="sr-only">
                        Loading...</span></div>

            </div>
        </div>
        <div class="row ">
            <div class="col-12" id="errorMessage">
                <!-- error message area -->
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <h2 id="byYearTitle">By Year</h2>
                <div id="barChartContainer">
                    <!-- Bar charts - one for each year.-->
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 id="trendsTitle">Trends</h2>
                <div id="lineChartContainer">
                    <canvas id="lineChartArea">
                        <!-- Line chart goes here -->
                    </canvas>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 id=tableTitle>Tables</h2>
                <div class="table-responsive-md" id="tableArea">
                    <!-- table goes here -->
                </div>
            </div>
        </div>
    </div>

</main>



{% endblock %}


{% block script %}
<script>
    const api_key = $('#apiKeyDiv').html()
    const searchBtn = $('#searchSubmit')



    $(document).ready(function () {
        // add autocomplete to all text inputs that require it
        $('input.autocomplete').each(function (i, element) {
            addAutocomplete(element);
        });

        // add icons from feather and make all parts clickable
        feather.replace();
        var svgComponents = $(".addSvg").children();

        // add data-group to rect and line inside plus buttons
        for (var i = 0; i < svgComponents.length; i++) {
            if (svgComponents.hasOwnProperty(i)) {
                var prevObjIndex = Math.floor(i / 3);
                var group = svgComponents.prevObject[prevObjIndex].getAttribute("data-group")
                svgComponents[i].setAttribute("data-group", group)
            }
        }
    });


    // add fields buttons
    $('.addField').click((event) => {
        event.preventDefault();
        click_target = event.target;
        var new_input = document.createElement('input');

        // create new text input
        new_input.type = "text";
        new_input.classList.add("form-control");

        // dynamically add group
        var group = event.target.dataset.group.replace('Group', '');
        new_input.placeholder = capFirstLetter(group);
        new_input.classList.add(group);

        // add autocomplete 
        new_input.classList.add('autocomplete');
        addAutocomplete(new_input);

        // insert into column of inputs
        var closestDiv = click_target.closest('div');
        var lastChild = closestDiv.children[closestDiv.children.length - 1];

        // dynamically add data-table from first input in group
        var nearestInput = closestDiv.children[1];
        new_input.dataset.table = nearestInput.dataset.table;

        closestDiv.insertBefore(new_input, lastChild);
        new_input.focus();
    })

    // loader image
    $(document).ajaxComplete(function () {
        // Hide spinner
        $("#spinner").hide();
    });

    // query database with user search terms, return data as charts and table
    $(searchBtn).click(function () {
        // prevent sending of form
        event.preventDefault();
        visualize();
    })

    // run search when hit enter key
    $(document).keydown(function (event) {
        if (event.which == 13) {
            event.preventDefault()
            visualize();
        }
    })

    function visualize() {
        // hide or reset all chart areas
        $('#errorMessage').html('');
        $('#tableArea').html('');
        $('#tableTitle').hide()
        $('#lineChartContainer').html('<canvas id="lineChartArea"></canvas>');
        $('#lineChartContainer').hide()
        $('#trendsTitle').hide()
        $('#barChartContainer').html('');
        $('#barChartContainer').hide();
        $('#byYearTitle').hide()

        // check which endpoint to send requests to
        var searchTable = $('input[name="dataChoiceRadio"]:checked').data('table');

        // variables required for dynamic generation of search url
        var formVariables = ["country", "admin", "subdiv", "year", "sex", "cause"];
        var formInputLists = { "country": [], "admin": [], "subdiv": [], "year": [], "sex": [], "cause": [] };
        var formInputs = [document.querySelectorAll('.country'), document.querySelectorAll('.admin'), document.querySelectorAll('.subdiv'), document.querySelectorAll('.year'), document.querySelectorAll(".sex:checked"), document.querySelectorAll('.cause')]

        // make arrays of user inputs and validate inputs
        for (var i = 0; i < formInputs.length; i++) {
            for (var j = 0; j < formInputs[i].length; j++) {
                var group = formVariables[i]
                var inputValue = formInputs[i][j].value

                var error = false;
                switch (group) {
                    case "country":
                        // validate inputs
                        if (validCountry(inputValue)) {
                            // push valid ones to arrays for generating get url
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#errorMessage').html(output);
                            return
                        }
                        break;
                    case "admin":
                        if (validAdmin(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#errorMessage').html(output);
                            return
                        }
                        break;
                    case "subdiv":
                        if (validSubdiv(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#errorMessage').html(output);
                            return
                        }
                        break;
                    case "year":
                        if (validYear(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#errorMessage').html(output);
                            return
                        }
                        break;
                    case "cause":
                        if (validCause(inputValue)) {
                            formInputLists[group].push(inputValue)
                        }
                        else {
                            error = true;
                            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
                            $('#errorMessage').html(output);
                            return
                        }
                        break;
                    case "sex":
                        formInputLists[group].push(inputValue)
                        break;
                }
            }
        }
        if (formInputLists['sex'].length == 0) {
            error = true;
            let output = '<div class="alert alert-danger" role="alert">Please check your form inputs.</div>';
            $('#errorMessage').html(output);
            return
        }

        // iterate over formInputLists dictionary and join each one into a string for get variables.
        // remove trailing and leading commas to reduce search space
        var urlGetVariables = "";

        for (var key in formInputLists) {
            formInputLists[key] = formInputLists[key].join().replace(/(^[,\s]+)|([,\s]+$)/g, '');
            urlGetVariables += key + "=" + formInputLists[key] + "&";
        }

        // generate url depending on endpoint choice, search term and endpoint type
        var api_url = "/api/" + searchTable + "-search-multiple?" + urlGetVariables;

        var results;

        if (!error) {
            // Show spinner
            $('#spinner').show();
            $.ajax({
                url: api_url,
                dataType: "json",
                headers: { "api_key": api_key },
                success: function (result) {
                    // save results to variable for processing
                    var results = result.results
                    var dataFormat = "";
                    if (searchTable == "mortality") {
                        dataFormat = "Deaths";
                    } else if (searchTable == "mortality-adj") {
                        dataFormat = "Deaths(per 100,000)";
                    }
                    // make year string into array
                    var year_list = formInputLists['year'].split(",")
                    // sort array chronologically 
                    year_list.sort((a, b) => Number(a) - Number(b));

                    // bar charts
                    // create area for each bar chart
                    year_list.forEach(function (year, index) {
                        // show title
                        $('#byYearTitle').show();
                        // add year name
                        $('#barChartContainer').append('<h3>' + year + '</h3>');
                        // add canvas with unique id
                        var chartId = "barChart" + year
                        $('#barChartContainer').append('<canvas id="' + chartId + '"></canvas>');
                        $('#barChartContainer').append('<hr><br>');
                        $('#barChartContainer').show();
                    })

                    // create unique x axis labels - same for every year
                    var barChartXLabels = [];
                    var hasMale = false;
                    var hasFemale = false;
                    var hasUnspecified = false;
                    results.forEach(function (resultsItem, resultsIndex) {
                        if (resultsItem.sex.code == 1) {
                            hasMale = true;
                        }
                        if (resultsItem.sex.code == 2) {
                            hasFemale = true;
                        }
                        if (resultsItem.sex.code == 9) {
                            hasUnspecified = true;
                        }
                        var adminSubdivLabel = " "
                        if (resultsItem.admin != "None") {
                            adminSubdivLabel += "(" + resultsItem.admin.description + ")";
                        }
                        if (resultsItem.subdiv != "None") {
                            adminSubdivLabel += "(" + resultsItem.subdiv.description + ")";
                        }
                        var dataLabel = resultsItem.cause.description + " - " + resultsItem.country.description + adminSubdivLabel

                        if (barChartXLabels.indexOf(dataLabel) > -1) {
                            return;
                        }

                        barChartXLabels.push(dataLabel);
                    });

                    // create bar chart for each year
                    for (var i = 0; i < year_list.length; i++) {
                        var year = year_list[i];

                        // generate chart data, checking if male/female/unspecified
                        var barChartData = {
                            labels: barChartXLabels,
                            datasets: []
                        }

                        var maleDataset = {};
                        if (hasMale) {
                            maleDataset['label'] = 'Male';
                            maleDataset['backgroundColor'] = "#0000ff";
                            maleDataset['data'] = []
                        }

                        var femaleDataset = {}
                        if (hasFemale) {
                            femaleDataset['label'] = 'Female';
                            femaleDataset['backgroundColor'] = "#ff0000";
                            femaleDataset['data'] = []
                        }

                        var unspecifiedDataset = {}
                        if (hasUnspecified) {
                            unspecifiedDataset['label'] = 'Unspecified';
                            unspecifiedDataset['backgroundColor'] = "#ffff00";
                            unspecifiedDataset['data'] = []
                        }

                        results.forEach(function (resultsItem, resultsIndex) {
                            // check datalabel against xAxis labels and find index
                            var adminSubdivLabel = " "
                            if (resultsItem.admin != "None") {
                                adminSubdivLabel += "(" + resultsItem.admin.description + ")";
                            }
                            if (resultsItem.subdiv != "None") {
                                adminSubdivLabel += "(" + resultsItem.subdiv.description + ")";
                            }
                            var dataLabel = resultsItem.cause.description + " - " + resultsItem.country.description + adminSubdivLabel
                            var indexOfLabel = barChartXLabels.indexOf(dataLabel);

                            // get sex (1=male, 2=female, 9=unspecified)
                            var sex = resultsItem.sex.code

                            // splice result into corresponding sex dataset data array at correct position for correct year
                            switch (sex) {
                                case "1":
                                    // male
                                    if (resultsItem.year == year) {
                                        maleDataset['data'].splice(indexOfLabel, 0, resultsItem.all_ages)
                                    }
                                    break;
                                case "2":
                                    // female
                                    if (resultsItem.year == year) {
                                        femaleDataset['data'].splice(indexOfLabel, 0, resultsItem.all_ages)
                                    }
                                    break;
                                case "9":
                                    // unspecified
                                    if (resultsItem.year == year) {
                                        unspecifiedDataset['data'].splice(indexOfLabel, 0, resultsItem.all_ages)
                                    }
                                    break;
                            }
                        })

                        // push all datasets to datasets array if exists
                        if (hasMale) {
                            barChartData['datasets'].push(maleDataset);
                        }
                        if (hasFemale) {
                            barChartData['datasets'].push(femaleDataset);
                        }
                        if (hasUnspecified) {
                            barChartData['datasets'].push(unspecifiedDataset);
                        }

                        // show error message to notify user if some data is missing
                        barChartData['datasets'].forEach(function (datasetItem, datasetIndex) {
                            datasetItem['data'].forEach(function (dataItem, dataIndex) {
                                if (isNaN(dataItem) || dataItem == null) {
                                    $('#errorMessage').html('<div class="alert alert-danger" role="alert">Warning: Some of the data you requested is unavailable.</div>');
                                    $('#errorMessage').show();
                                }
                            });
                        });

                        // draw bar chart
                        chartId = "barChart" + year
                        var ctx = document.getElementById(chartId).getContext('2d');
                        window.myBar = new Chart(ctx, {
                            type: 'bar',
                            data: barChartData,
                            options: {
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                responsive: true,
                                scales: {
                                    yAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: dataFormat
                                        }
                                    }]
                                }
                            }
                        });
                    }

                    // if year list length is >1, draw line chart with all data
                    if (year_list.length > 1) {
                        $('#trendsTitle').show();
                        $('#lineChartContainer').show();
                        var lineChartData = {
                            labels: year_list,
                            datasets: []
                        }

                        results.forEach(function (resultsItem, resultsIndex) {
                            var adminSubdivLabel = " "
                            if (resultsItem.admin != "None") {
                                adminSubdivLabel += "(" + resultsItem.admin.description + ")";
                            }
                            if (resultsItem.subdiv != "None") {
                                adminSubdivLabel += "(" + resultsItem.subdiv.description + ")";
                            }
                            var dataLabel = resultsItem.cause.description + " - " + resultsItem.country.description + adminSubdivLabel + " - " + resultsItem.sex.description

                            // there are no entries in the dataset object so this code doesn't run at all
                            // use a exists = false/true check then decide what to do after
                            var datasetExists = false;
                            lineChartData['datasets'].forEach(function (datasetItem, datasetIndex) {
                                if (datasetItem.label == dataLabel) {
                                    datasetExists = true;
                                    // add data to the yearData object if it exists
                                    resultYear = resultsItem.year;
                                    datasetItem.yearData[resultYear] = Number(resultsItem.all_ages);
                                }
                            })
                            if (!datasetExists) {
                                // make new dataset object in the datasets array if doesn't dataset doesn't exist
                                resultYear = resultsItem.year;
                                randColor = getRandomColor();

                                var dataset = {};
                                dataset['label'] = dataLabel;
                                dataset['fill'] = false;
                                dataset['borderColor'] = randColor;
                                dataset['backgroundColor'] = randColor;
                                dataset['data'] = [];
                                dataset['yearData'] = {};
                                dataset['yearData'][resultYear] = Number(resultsItem.all_ages);
                                dataset['lineTension'] = 0

                                lineChartData['datasets'].push(dataset);
                            }
                        })

                        // after dataset entries made, loop through datasets and create a data array according matching the year_list array order
                        lineChartData['datasets'].forEach(function (datasetItem, datasetIndex) {
                            // loop through year_list
                            for (var i = 0; i < year_list.length; i++) {
                                // if year_list entry is key in datasetItem['yearData'], push value to datasetItem[data]
                                var year = year_list[i];
                                if (year in datasetItem['yearData']) {
                                    datasetItem['data'].push(datasetItem['yearData'][year]);
                                } else {
                                    datasetItem['data'].push(null);
                                }
                            }
                        });

                        // show error message to notify user if some data is missing
                        lineChartData['datasets'].forEach(function (datasetItem, datasetIndex) {
                            datasetItem['data'].forEach(function (dataItem, dataIndex) {
                                if (isNaN(dataItem) || dataItem == null) {
                                    $('#errorMessage').html('<div class="alert alert-danger" role="alert">Warning: Some of the data you requested is unavailable.</div>');
                                    $('#errorMessage').show();
                                }
                            })


                        });

                        // draw line chart
                        var ctx = document.getElementById('lineChartArea').getContext('2d');
                        window.myBar = new Chart(ctx, {
                            type: 'line',
                            data: lineChartData,
                            options: {
                                responsive: true,
                                legend: {
                                    position: 'right'
                                },
                                tooltips: {
                                    mode: 'nearest',
                                    intersect: false,
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Year'
                                        }
                                    }],
                                    yAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: dataFormat
                                        }
                                    }]
                                }
                            }
                        });
                    }
                    $('#lineChartContainer').append('<hr><br>');

                    // draw table
                    // table: country(admin)(subdiv) | sex | year | deaths(total / per 100,000) 
                    var table = '<table class="table table-hover"><thead><tr class="table-primary"><th>Cause - Country(admin)(subdiv)</th><th>Sex</th><th>Year</th><th>' + dataFormat + '</th></tr></thead><tbody>';
                    results.forEach(function (resultsItem, resultsIndex) {
                        var adminSubdivLabel = " "
                        if (resultsItem.admin != "None") {
                            adminSubdivLabel += "(" + resultsItem.admin.description + ")";
                        }
                        if (resultsItem.subdiv != "None") {
                            adminSubdivLabel += "(" + resultsItem.subdiv.description + ")";
                        }
                        var dataLabel = resultsItem.cause.description + " - " + resultsItem.country.description + adminSubdivLabel

                        table += '<tr><td>' + dataLabel + '</td><td>' + resultsItem.sex.description + '</td><td>' + resultsItem.year + '</td><td>' + resultsItem.all_ages + '</td></tr>'
                    })
                    table += '</tbody></table>';

                    $('#tableTitle').show();
                    $('#tableArea').show();
                    $('#tableArea').html(table);
                },
                error: function () {
                    let output = '<div class="alert alert-danger" role="alert">No results match your search term.</div>';
                    $('#errorMessage').html(output);
                }
            });
        }
    };

</script>
{% endblock %}